# Mend agent config for sonarlint-intellij

# Mend documentation: https://docs.mend.io/en-US/bundle/unified_agent/page/getting_started_with_the_unified_agent.html

# Exclude tests - only scan product code
excludes=**/*sources.jar **/*javadoc.jar its/projects/** src/test/**
fileSystemScan=False
resolveAllDependencies=False

gradle.resolveDependencies=True
gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.innerModulesAsDependencies=True
gradle.ignoredConfigurations=.*it.*
gradle.excludeModules=.*it.*

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
productName=SonarLint/IntelliJ
