# WhiteSource agent config for sonarlint-intellij

# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

excludes=**/*sources.jar **/*javadoc.jar **/its/projects/**
fileSystemScan=False
resolveAllDependencies=False

gradle.resolveDependencies=True
gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.innerModulesAsDependencies=True
gradle.ignoredConfigurations=.*it.*
gradle.excludeModules=.*it.*

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
