name: Build
on:
  push:
    branches:
      - master
      - branch-*
      - dogfood-*
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: github-ubuntu-latest-m
    name: Build
    steps:
      - uses: actions/checkout@v5

      - uses: jdx/mise-action@v2.4.4
        with:
          version: 2025.9.12

      - name: Vault Secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |

      - uses: SonarSource/ci-github-actions/build-gradle@v1
        with:
          deploy-pull-request: true
          use-develocity: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer
          gradle-args: -x build -x sonar :buildPlugin :cyclonedxBom
