name: Shadow scans
on:
  schedule:
    # Run the workflow every day at 04:00 UTC
    - cron: '0 4 * * *'

jobs:
  scan:
    runs-on: github-ubuntu-latest-m
    name: Scan on shadow platforms
    permissions:
      id-token: write
      contents: write
    env:
      # Docker image configuration
      DOCKER_IMAGE_TAG: "pr-139"
      AWS_ACCOUNT_ID: "460386131003"
      AWS_REGION: "eu-central-1"

      # IDE installation paths and versions
      IDE_CACHE_DIR: /opt/jetbrains
      INTELLIJ_VERSION: "2023.3.8"
      CLION_VERSION: "2023.3.6"
      RIDER_VERSION: "2024.3.9"  # Rider 2023.3.6 disabled in Docker image
      RESHARPER_VERSION: "2024.3.6"
      ULTIMATE_VERSION: "2023.3.8"
    steps:
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/artifactory/token/SonarSource-sonarlint-intellij-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          version: 2025.9.12

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/deploymentroles/DevInfraSquadDockerImagesAccessRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Cache IntelliJ IDEA Community
        id: cache-intellij
        uses: SonarSource/gh-action_cache@v1
        with:
          path: ${{ env.IDE_CACHE_DIR }}/intellij
          key: ${{ runner.os }}-intellij-${{ env.INTELLIJ_VERSION }}-docker-${{ env.DOCKER_IMAGE_TAG }}
          restore-keys: |
            ${{ runner.os }}-intellij-${{ env.INTELLIJ_VERSION }}-docker-
            ${{ runner.os }}-intellij-${{ env.INTELLIJ_VERSION }}-

      - name: Cache CLion
        id: cache-clion
        uses: SonarSource/gh-action_cache@v1
        with:
          path: ${{ env.IDE_CACHE_DIR }}/clion
          key: ${{ runner.os }}-clion-${{ env.CLION_VERSION }}-docker-${{ env.DOCKER_IMAGE_TAG }}
          restore-keys: |
            ${{ runner.os }}-clion-${{ env.CLION_VERSION }}-docker-
            ${{ runner.os }}-clion-${{ env.CLION_VERSION }}-

      - name: Cache Rider
        id: cache-rider
        uses: SonarSource/gh-action_cache@v1
        with:
          path: ${{ env.IDE_CACHE_DIR }}/rider
          key: ${{ runner.os }}-rider-${{ env.RIDER_VERSION }}-docker-${{ env.DOCKER_IMAGE_TAG }}
          restore-keys: |
            ${{ runner.os }}-rider-${{ env.RIDER_VERSION }}-docker-
            ${{ runner.os }}-rider-${{ env.RIDER_VERSION }}-

      - name: Cache CLion for ReSharper
        id: cache-resharper
        uses: SonarSource/gh-action_cache@v1
        with:
          path: ${{ env.IDE_CACHE_DIR }}/resharper
          key: ${{ runner.os }}-resharper-${{ env.RESHARPER_VERSION }}-docker-${{ env.DOCKER_IMAGE_TAG }}
          restore-keys: |
            ${{ runner.os }}-resharper-${{ env.RESHARPER_VERSION }}-docker-
            ${{ runner.os }}-resharper-${{ env.RESHARPER_VERSION }}-

      - name: Cache IntelliJ IDEA Ultimate
        id: cache-ultimate
        uses: SonarSource/gh-action_cache@v1
        with:
          path: ${{ env.IDE_CACHE_DIR }}/ultimate
          key: ${{ runner.os }}-ultimate-${{ env.ULTIMATE_VERSION }}-docker-${{ env.DOCKER_IMAGE_TAG }}
          restore-keys: |
            ${{ runner.os }}-ultimate-${{ env.ULTIMATE_VERSION }}-docker-
            ${{ runner.os }}-ultimate-${{ env.ULTIMATE_VERSION }}-

      - name: Extract IDEs from Docker images (parallel, only missing ones)
        env:
          CACHE_INTELLIJ: ${{ steps.cache-intellij.outputs.cache-hit }}
          CACHE_CLION: ${{ steps.cache-clion.outputs.cache-hit }}
          CACHE_RIDER: ${{ steps.cache-rider.outputs.cache-hit }}
          CACHE_RESHARPER: ${{ steps.cache-resharper.outputs.cache-hit }}
          CACHE_ULTIMATE: ${{ steps.cache-ultimate.outputs.cache-hit }}
        run: .github/scripts/setup-ides-from-docker.sh

      - uses: SonarSource/ci-github-actions/build-gradle@v1
        env:
          ARTIFACTORY_ACCESS_USERNAME: vault-SonarSource-sonarlint-intellij-private-reader
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
        with:
          run-shadow-scans: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer
          gradle-args: -x :its:check -x :buildPlugin -x :cyclonedxBom check jacocoTestReport

      - name: Run IRIS Analysis
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "org.sonarsource.sonarlint.intellij:sonarlint-intellij"
          primary_platform: "Next"
          shadow1_project_key: "org.sonarsource.sonarlint.intellij:sonarlint-intellij"
          shadow1_platform: "SQC-EU"
          shadow2_project_key: "org.sonarsource.sonarlint.intellij:sonarlint-intellij"
          shadow2_platform: "SQC-US"
